name: Spellcheck

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run cspell via action
        uses: streetsidesoftware/cspell-action@v6
        with:
          args: "**/*.qmd **/*.md"
