name: Spellcheck

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run cspell
        uses: streetsidesoftware/cspell-action@v2
        with:
          args: "--verbose '**/*.qmd' '**/*.md'"
